
/* Import All css Fonts here */

@font-face
{
    font-family: 'Bungee';
    src: url('../fonts/BungeeInline-Regular.ttf');
    font-family: 'balsmiq';
    src: url('../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf');
    font-display: block;
}

@font-face
{
    font-family: 'Monteserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-display: block;
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-display: block;
}
