
/* Import Other Css files */
@import url('./fonts.css');
@import url('./partials/variables.css');

/* Start of Header Styles */
#site-header
{
    padding: 10px 50px 0px 50px;
    background: var(--bg-color);
    text-align: center;
}

#site-header .fas
{
    font-size: 85px;
}

#site-header .site-logo , #site-header .site-title
{
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#site-header .site-title
{
    position: relative;
    bottom: 10px;
    display: inline-block;
    font-size: 60px;
    cursor: context-menu;
    font-family: 'Bungee';
}
/* End of Header Styles */

 #site-main
{
    font-family: 'Monteserrat';
    min-height: 85vh;
}

.site-login .login-form, .site-signup .signup-form ,.site-game .game-form
{
    border-radius: 12px;
    margin-top: 10vh;
    min-height: 65vh;
    padding: 25px 50px;
    background: var(--bg-color);
    box-shadow: var(--shadow-color);
}


.site-login .login-form .login-title , .site-signup .signup-form .signup-title , .game-title
{
    font-size: 50px;
    margin: 3vh 0vh;
    font-weight: 500;
    font-style: italic;
    font-family: 'Bungee';
    color:#3498db;
}


.site-login .login-form .login-label , .site-signup .signup-form .signup-label , .game-label
{
    font-size: 25px;
    font-weight: 500;
    color: whitesmoke;
}

.form-group .form-control
{
    color: black;
    padding: 20px 10px;
    font-size: 22px;
}


.login-form .login-btn , .signup-form .signup-btn , .game-form .game-btn
{
    color: whitesmoke;
    font-weight: 1000;
    font-size: 26px;
}

.login-form .login-btn:hover, .signup-form .signup-btn:hover , .game-form .game-btn:hover
{
    background: whitesmoke;
    color: black;
}

.site-login .login-form .reg-btn, .site-signup .signup-form .log-btn
{
    border: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
}

.login-form .form-group .form-control , .signup-form .form-group .form-control , .game-form .form-group .form-control
{
    color: black;
    font-weight: 1000;
}

.login-form .form-group .reg-btn ,.signup-form .form-group .log-btn 
{   
    font-weight: 750;
    color: #3498db;
}

/* Start of Game Page Styles */

#game-page
{
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 80vh;
    border-radius: 12px;
    background: var(--bg-color);
}

#game-page .btn-outline-light
{
    font-weight: 1000;
    border: none;
}

#game-page .boxtable tr td::selection
{
    background: transparent;
}
#game-page .boxtable tr td 
{
    border: 3px solid white;
    color: #ecf0f1;
    transition: 2s;
    font-size: 35px;
    height: 100px;
    width: 100px;
    padding: 23px 23px;
    font-weight: bold;
    cursor: pointer;
}

#turn-text
{
    transition: 2s;
    font-size: 45px;
    font-weight: 1000;
}

#game-page #spin-btn
{
    transition: .9s;
}

#game-page #spin-btn:hover
{
    transform: scale(1.25,1.25);
}

/* End of Game Page Styles */

/* Start of Footer Styles */
#site-footer
{
    background: var(--bg-color);
    height: 25%;
    font-size: 22px;
}

#site-footer .footer-text, .footer-copyrights
{
    position: relative;
    top: 25%;
    text-align: center;
    color: white;
}

/* End of Footer Styles */

body *::selection{
    background: transparent;
}

body::-webkit-scrollbar{
    width: 1rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: var(--gradient-color);
} 